*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-padding-top:200px;
}
body {
  background-color: blanchedalmond;
}

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */


.dramatis-personae {
  
  width:70%;
  margin:auto;
  margin-top: 3rem;
  background-color: white;
  border: 1px solid coral;
padding: 1rem;
}
.play{

  width:70%;
  margin:auto;
  margin-top: 0.2rem;
  background-color: white; 
  border: 1px solid coral;


}

figure {
  /* width: 85%; */
  margin:0 auto;
  width: 400px;
  align-items: center;

  margin-bottom: 1em;
}

img {
  width:100%;
 
}
div.sceneImage {
}
h1.act {
  background-color: lightblue;
  text-align: center;
  padding: 8px;
}
p.persona {
  font-family: verdana;
  font-weight: 500;
  color: blue;

}
span.character_role {
  font-style: italic;
  font-family: sans-serif;
  font-weight: 100;
  color: black;
}
h1.dramatishead {
  text-align: center;
}
h2.firstscene {
  text-align: center;
  color: crimson;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
h2.location {
  font-family: verdana;
  font-weight: 100;
  font-size: 14px;
  color: blue;
}
h2.stagedirection{
  font-family: franklin;
  font-weight: 100;
  font-size: 16px;
}

p.play_location {
}
.sceneImage{
  /* width: 300px;
  align-items: center; */

}

p.prose {
  margin: 0 0 0.4em 8em;
}
h2.scene {
  text-align: center;
  color: crimson;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  background-color: lightblue;
  padding: 8px;
}
p.song {
  margin: 0 0 0.4em 8em;
  font-style: italic;
}
h2.stagedirection {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-style: italic;
 
}

.verseline {
  margin: 0 0 0.4em 8em;
}
span.character_role {
}
span.stage_directions_inline {
}

span.character_beforespeech {

}
.Character-_beforespeech{
  display:block;
  position: relative;
  left: -6.8em;
  top: 0.75em;
  font-size: 1.1em;
  width: 4em;
  margin: -0.29em;
  color: blue;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
}


input[type="checkbox"] {
  display: none;
}


.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


nav ul li {
  flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
  text-align: center;
}


nav ul li a {
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
}


nav ul li:hover {
  background-color: rgb(8, 119, 126);
}
nav ul li a:hover {
  color: white;
}


li ul {
  display: none;
  position: absolute;
  background-color: rgb(8, 119, 126);
}


nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}


nav ul li ul li {
  flex: 0 1 auto;
  width: 8rem; /* the same as the value for flex-basis on the parent li */
}


@media screen and (max-width: 700px) {
  nav ul {
    display: none;
    flex-direction: column;
  }


  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
  }


  /*   ~ the tilda points to the next sibling selector */


  input[type="checkbox"]:checked ~ ul {
    display: block;
  }


  li ul {
    position: static;
  }
  nav ul li {
    flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
    width: 100%;
  }


}

