body{
font-family: Arial, Helvetica, sans-serif;
background-color: blanchedalmond;


}
main{
    background-color: lightblue;
    border: 1px solid coral;
    margin:0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

figure{
    width: 100%;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    padding-right: 0.5em;

}
img{
    width:100%;/*percentage of parent element*/
    margin: 0.5em;
    display: block;
   
}

section{
  
    font-size: medium;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: auto;
    margin: 0.5em;
   
 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    color: crimson;

}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;

}

footer{
    text-align: center;

}
.playlink{

    margin-top: 1em;
    text-align: center;
    padding: 1em;
}
.playlink:hover{
    background-color: crimson;
}
.playlink a {
    color: white;
}